#############################################
#######   perfViewer Configuration    #######
#############################################

VERSION = '1.0.2'

# Default IP Addresses:
IP_1_DEFAULT = '192.168.24.200'
IP_2_DEFAULT = '192.168.24.201'

# Filenames for perf exports
SCHED_MIGRATE_FILENAME = 'perf.data.sched:sched_migrate_task.dump'
SCHED_SWITCH_FILENAME = 'perf.data.sched:sched_switch.dump'
SCHED_RUNTIME_FILENAME = 'perf.data.sched:sched_stat_runtime.dump'
SCHED_WAKEUP_FILENAME = 'perf.data.sched:sched_wakeup.dump'
SCHED_WAKING_FILENAME = 'perf.data.sched:sched_waking.dump'
IRQ_HANDLER_ENTRY_FILENAME = 'perf.data.irq:irq_handler_entry.dump'
IRQ_HANDLER_EXIT_FILENAME = 'perf.data.irq:irq_handler_exit.dump'
CPU_IDLE_FILENAME = 'perf.data.power:cpu_idle.dump'

# Probe files directory:
PROBE_LISTS_DIR = './probe_lists/'

# perf probes max function length
PERF_PROBE_MAX_FUNCTION_LEN = 50
